<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.crispycode.kcb.mapper.BeerMapper">
    <select id="selectByBreweryId" parameterType="int" resultType="com.crispycode.kcb.model.LineUpBeer">
        SELECT beer_name, beer_image, location, style, abv
        FROM beer
        WHERE brewery_id = #{id};
    </select>

    <update id="insertImage" parameterType="com.crispycode.kcb.model.VoTest">
        UPDATE beer
        SET beer_image = #{file.bytes}
        WHERE beer_id = #{file.id};
    </update>

    <select id="selectRecentBeers" resultType="com.crispycode.kcb.model.Beer">
        SELECT b.beer_image, b.beer_name, b.release_date, bw.brewery_name
        from Beer b join brewery bw on b.brewery_id = bw.brewery_id
        order by release_date desc LIMIT 5;
    </select>

    <select id="selectAll"  resultType="com.crispycode.kcb.model.Beer">
        SELECT br.brewery_name, b.beer_name, b.beer_image, b.release_date
        FROM beer b JOIN brewery br on b.brewery_id = br.brewery_Id
        ORDER BY b.release_date DESC;
    </select>

</mapper>