<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.crispycode.kcb.mapper.BrewpubMapper">
    <select id="selectBrewpubById" parameterType="int" resultType="com.crispycode.kcb.model.Brewpub" >
        select image, brewpub_name, address, phone, homepage, facebook, instagram, summary
        from Brewpub
        where brewpub_id = #{id};
    </select>

    <select id="selectAll" resultType="com.crispycode.kcb.model.Brewpub">
        SELECT brewpub_name, image, address, phone, homepage, facebook, instagram, summary,
               latitude, longitude
        FROM Brewpub
    </select>
</mapper>