<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.crispycode.kcb.mapper.GoodsMapper">
    <select id="selectGoods" parameterType="int" resultType="com.crispycode.kcb.model.Goods">
        SELECT goods_id, name, price, goods_image
        FROM goods
    </select>

</mapper>